@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior:smooth;
}
body{
    font-family: "Inter", sans-serif;
}
ul li{
    list-style: none;
}
a{
    text-decoration: none;
}
header{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    width: 100%;
    padding: 10px 20px;
    background: rgba(255,255,255,0.1);
    backdrop-filter: blur(10px);    
    display: flex;
    justify-content: space-between;
}
.logo{
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    column-gap: 3px;
}
.logo a{
    font-size: 26px;
    color: #222;
}
nav ul{
    display: flex;
    align-items: center;
    column-gap: 20px;
}
nav ul li a{
    position: relative;
    display: block;
    color: #444;
}
nav ul li a::before{
    content:"";
    position: absolute;
    top:100%;
    left:0;
    width: 100%;
    height: 2px;
    transform: scaleX(0);
    background: yellowgreen;
    transition: all 0.3s ease;
}
nav ul li a:hover::before{
    transform: scaleX(1);
}
.btn-close{
    display: none;
}
.header-icons{
    display: none;
}
.home-section{
    position: relative;
    width: 100%;
    height: 100vh;
    background:#F1EFEC;
    display: flex;
    justify-content: center;
    align-items: center;
}
.home-title1 h2{
    position: absolute;
    top: 2%;
    left: 70%;
    z-index: 0;
    transform: rotate(90deg); 
    font-size: 200px;
    color: #666666;
}
.home-container{
    position: relative;
    z-index: 1;
    max-width:1200px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.home-image{
    width:460px;
    padding:20px;
}
.home-image img{
    width:100%;
}
.home-title2 h2{
    position: absolute;
    top: 5%;
    left: 0;
    z-index:0;
    transform: rotate(90deg); 
    font-size:230px;
    color: #666666;
}
.filter-buttons{
    margin:20px;
    display: flex;
    column-gap: 20px;
}
.filter-buttons button{
    padding: 10px 30px;
    border:none;
    border-radius: 5px;
    cursor: pointer;
    background:yellowgreen;
    color:#fff;
    font-size: 16px;
    font-weight: 600;
}
.product-container{
    display:flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.product{
    width:250px;
}
.product img{
    width:100%;
}
.product.hidden {
   display: none;
}


.about-section{
    width:100%;
    height:100vh;
    background:#222831;
    display: flex;
    justify-content: center;
    align-items: center;
}
.about-container{
    max-width:1200px;
    margin: auto;
    padding: 20px;
    background:rgba(225,225,225,0.2);
    display: flex;
    justify-content:center;
    align-items: center;
    column-gap:10px;
}
.about-image{
    width:400px;
}
.about-image img{
    width: 100%;
}
.about-content{
    max-width: 300px;
    padding: 10px;
}
.about-content h2{
    font-size: 30px;
    font-weight: 600;
    color:#fff;
}
.about-content p{
    font-size: 16px;
    font-weight: 400;
    color:#fff;
}
@media (max-width:768px) {
    .logo a{
        font-size: 18px;
        color: #222;
    }
    nav{
        position: fixed;
        top:0;
        right: -100%;
        height: 100vh;
        padding: 50px;
        background: #fff;
        transition: all 0.3s ease;
    }
    nav ul{
        flex-direction:column;
        row-gap: 10px;
    }
    .btn-close{
        position: absolute;
        display: block;
        top:5px;
        right:5px;
        font-size: 20px;
        color: #444;
    }
    nav.show-nav{
        right:0;
    }
    .header-icons{
        display: block;
    }
    .home-title1 h2{
        left: 60%;
        top:30%;
        transform: translateY(-50%);
        font-size: 50px;
    }
    .home-image{
        width: 80%;
        max-width: 260px;
    }
    .home-title2 h2{
        left:40%;
        top:75%;
        transform: translateY(-50%);
        font-size: 50px;
    }
    .filter-buttons{
        margin:6px;
        column-gap:10px;
    }
    .filter-buttons button{
        padding: 10px 15px;
        font-size:10px;
    }
    .product{
        width:140px;
    }

    .about-container{
        flex-direction:column;
    }
    .about-image{
        width:160px;
    }
    .about-image img{
        width: 100%;
    }
    .about-content{
        max-width: 300px;
        padding: 10px;
    }
    .about-content h2{
        font-size: 20px;
        font-weight: 600;
        color:#fff;
    }
    .about-content p{
        font-size: 10px;
        font-weight: 400;
        color:#fff;
    }
}